{% extends 'base.html' %}
{% block title %}Importar{% endblock %}
{% block class_import_menu %}active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'import_form' %}">Importar</a></li>
        <li class="breadcrumb-item active">Sucesso</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header success-color white-text">
            SUCESSO
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <p>A importação foi realizada com sucesso!</p>
                    <p>
                        <strong>Unidade:</strong> {{ request.user.userprofile.empresa }}<br>
                    </p>
                    <p>No intuito de evitar a redundância, alguns registros não foram importados.</p>
                    <strong>Registros importados: </strong>{{ importado }}<br>
                    <strong>Registros não importados: </strong>{{ nao_importado }}<br>
                    <br>
                    {% for i in lista_nao_importado %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-auto">
            <a href="{% url 'aluno' %}?qs=a" class="btn info-color" data-toggle="tooltip" data-placement="top"
               title="Voltar"><i
                    class="fa fa-arrow-left"></i></a>
        </div>
    </div>
{% endblock %}