<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>MONITORAMENTO DE RIOS</title>

    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 2cm;
            margin-right: 2cm;
            margin-top: 5.8cm;
            margin-bottom: 3cm;

            @frame header {
            -pdf-frame-content: page-header;
            margin-top: 0.7cm;
            margin-right: 2cm;
        {#margin-bottom: 0cm;#}
            margin-left: 2cm;
        }

        @frame footer {
        -pdf-frame-content:page-footer;
        bottom: 0cm;
        margin-left: 2cm;
        margin-right: 2cm;
        height: 2.5cm;
        }
        }
    </style>

</head>
<body>
<div id="page-header">

    <table style="font-weight: bold; font-size: 16px; border-bottom: 1px solid #000000; width: 100%; padding: 2px;">
        <thead>
        <tr>
            <th style="width: 200px; text-align: left">
                <img src="{{ empresa.logo.url }}"><br>
            </th>
            <th style="width: 615px; text-align: center; vertical-align: bottom">
                {{ empresa.razao_social|upper }}
            </th>
        </tr>
        </thead>
    </table>
    <div style="padding-top:5px; font-size: 12px; text-align: center; vertical-align: middle;">
        <h3>
            MONITORAMENTO DE RIOS <br>
        </h3>
        <table style="text-align: left">
            <tbody>
            <tr>
                <td style="width: 25%"><span style="font-weight: bold">Data inicial: </span>{{ data_inicio }}</td>
                <td style="width: 25%"><span style="font-weight: bold">Data final: </span>{{ data_fim }}</td>
                <td style="width: 25%"><span style="font-weight: bold">Precipitação (>=:) </span>
                    {% if precipitacao_inicio %} {{ precipitacao_inicio }} mm{% endif %}</td>
                <td style="width: 25%"><span style="font-weight: bold">Precipitação (<=:) </span>
                    {% if precipitacao_fim %} {{ precipitacao_fim }} mm{% endif %}</td>
            </tr>
            <tr>
                <td style="width: 25%"><span style="font-weight: bold">Rio: </span>{{ rio }}</td>
                <td style="width: 25%"><span style="font-weight: bold">Chuva: </span>{{ chuva }}</td>
                <td style="width: 25%"><span style="font-weight: bold">Nível (>=): </span>{% if nivel_inicio %}
                    {{ nivel_inicio }} m{% endif %}</td>
                <td style="width: 25%"><span style="font-weight: bold">Nível (<=): </span>{% if nivel_fim %}
                    {{ nivel_fim }} m{% endif %}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<table style="border: 1px solid #ddd; width: 100%; padding: 2px;" bgcolor="#a9a9a9">
    <thead>
    <tr>
        <th style="width: 150px; text-align: left">RIO</th>
        <th style="width: 75px; text-align: left">DATA</th>
        <th style="width: 60px; text-align: right">HORA</th>
        <th style="width: 70px; text-align: right">CHUVA</th>
        <th style="width: 110px; text-align: right">PRECIPITAÇÃO</th>
        <th style="width: 100px; text-align: right">NÍVEL</th>
        <th style="width: 250px; text-align: right">OPERADOR</th>
    </tr>
    </thead>
</table>

<table style="border: 1px solid #ddd; width: 100%; padding: 2px">
    <tbody>
    {% for monitoramento in monitoramentos.qs %}
        <tr>
            <td style="width: 150px; text-align: left"{% if forloop.counter|divisibleby:2 %}
                bgcolor="#ededed"{% endif %}>
                {{ monitoramento.rio }}
            </td>
            <td style="width: 75px; text-align: left"{% if forloop.counter|divisibleby:2 %}
                bgcolor="#ededed"{% endif %}>
                {{ monitoramento.data }}
            </td>
            <td style="width: 60px; text-align: right"{% if forloop.counter|divisibleby:2 %}
                bgcolor="#ededed"{% endif %}>
                {{ monitoramento.hora }}
            </td>
            <td style="width: 70px; text-align: right"{% if forloop.counter|divisibleby:2 %}
                bgcolor="#ededed"{% endif %}>
                {{ monitoramento.chuva }}
            </td>
            <td style="width: 110px; text-align: right"{% if forloop.counter|divisibleby:2 %}
                bgcolor="#ededed"{% endif %}>
                {% if monitoramento.precipitacao %}
                    {{ monitoramento.precipitacao }} mm
                {% else %}
                    ---
                {% endif %}
            </td>
            <td style="width: 100px; text-align: right"{% if forloop.counter|divisibleby:2 %}
                bgcolor="#ededed"{% endif %}>
                {{ monitoramento.nivel }} m
            </td>
            <td style="width: 250px; text-align: right"{% if forloop.counter|divisibleby:2 %}
                bgcolor="#ededed"{% endif %}>
                {{ monitoramento.user }}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="7" style="font-weight: bold; text-align: center">
                NÃO HÁ MONITORAMENTO REGISTRADO
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% for total in totais %}
    <table style="border: 0px solid #ddd; width: 100%; padding: 2px">
        <tr>
            <td style="width: 20%; text-align: left">
                <span style="font-weight: bold">{{ total.rio__descricao|upper }}: </span> {{ total.monitoramentos }}
                medidas
            </td>
            <td style="width: 30%; text-align: left">
                <span style="font-weight: bold">PRECIPITAÇÃO TOTAL: </span> {{ total.precipitacao_total|floatformat:2 }}
                mm
            </td>
            <td style="width: 30%; text-align: left">
                <span style="font-weight: bold">PRECIPITAÇÃO MÉDIA: </span> {{ total.precipitacao_media|floatformat:2 }}
                mm
            </td>
            <td style="width: 20%; text-align: right">
                <span style="font-weight: bold">MÉDIA NÍVEL: </span> {{ total.nivel_media|floatformat:2 }} m
            </td>
        </tr>
    </table>
{% endfor %}

<div id="page-footer" style="text-align: right; font-size: 12px">
    Página
    <pdf:pagenumber/>
    <div style="text-align:center; padding-top: 2px; border-top: 1px solid">
        {{ empresa.end_logradouro }}, {{ empresa.end_bairro }}, {{ empresa.end_cidade }}/{{ empresa.end_uf }},
        CEP {{ empresa.end_cep }} / Fone: {{ empresa.fone }}<br>
        E-mail: {{ empresa.email }} / Site: {{ empresa.site }}
    </div>
</div>
</body>
</html>